#topbar
{
  background-color: black;
  height:10px;
  width:100%;
}
#header ul
{
  float:left;
}

#header ul li
{
  display: inline;
  margin-rihgt:20px;
}
body
{
  background-color: red;
}

#container
{
 background-color: red;
  height:700px;
  width:70%;
  margin:0px auto;
}
